.env
.env.*
.git
.gitignore
.vs
.idea
.vscode
[Bb]in/
[Oo]bj/
postgres-data/
data-protection-keys/
debug_images/
tests/
TestResults/
*.md
*.log
*.sln.iml
appsettings.Development.json
appsettings.Production.json
docker-compose*.yml
Dockerfile
.dockerignore
