@inject Microsoft.Extensions.Localization.IStringLocalizer<DotNetSigningServer.Resources.SharedStrings> L
@{
    ViewData["Title"] = L["ContactTitle"].Value;
}

<h1>@L["ContactTitle"]</h1>

<div class="ui doubling two column grid" style="font-size: 1.05em; line-height: 1.5em;">
    <div class="column">
        <strong>Performance4 s.r.o.</strong>
        <br />
        <br>Husova 429
        <br>373 67 Borek
        <br />
        <br>@L["ContactIdNumber"] 08415765
        <br>@L["ContactVatNumber"] CZ08415765
    </div>
</div>

<p>
    @L["ContactEmailLabel"] <a href="mailto:support@performance4.cz">support@performance4.cz</a><br />
</p>
