@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div class="ui doubling two column grid" style="font-size: 1.05em; line-height: 1.5em;">
    <div class="column">
        <strong>Performance4 s.r.o.</strong>
        <br />
        <br>Husova 429
        <br>373 67 Borek
        <br />
        <br>Identification Number: 08415765
        <br>VAT Number (DIČ): CZ08415765
    </div>
</div>

<p>
    Email: <a href="mailto:support@performance4.cz">support@performance4.cz</a><br />
</p>
